@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&family=Open+Sans&family=Poppins:wght@400;600;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* background-color: bisque; */
}

.top{
    margin: 50px;
    display: flex;
    position: relative;
}

.logo{
   
    /* padding-right: 300px; */
}

.try{
    position: absolute;
    right: 9px;
    padding: 10px;
    width: 120px;
    border-radius: 50px;
    color: hsl(322, 100%, 66%);
    border-color: hsl(322, 100%, 66%);
    background-color: white;
    
}

.try:hover{
    color: hsl(321, 100%, 78%);
    border-color: hsl(321, 100%, 78%);
    cursor: pointer;
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400,600,700;
}


.text1{
    text-align: center;
    margin-top: 200px;
}

.hud_text{
    margin-top: 50px;
    margin-inline: auto;
    width: 500px;
}

.get_ready_btn{
    margin-top: 60px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    padding: 30px;
    border-radius: 50px;
    width: 300px;
    border: none;
    box-shadow: 2px 3px 4px .5px grey;
}

.get_ready_btn:hover{
    cursor: pointer;
    background-color: hsl(321, 100%, 78%);
}

.sample_page{
    margin-top: 100px;
    
}

.img1{
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.metrics{
    display: flex;
    position: relative;
    padding-top: 90px;
    padding-bottom: 90px;
}

.metric_count{
    font-size:xxx-large;
}

.media_icon{
    width: 20px;
    height: 20px;
}

.communities{
    position: absolute;
    left: 28%;
}

.msg{
    position: absolute;
    right: 35%;
}

.sec1,.bottom_img{
    width: 100%;
    margin-bottom: -10px;
}

.grow,.users{
    display: flex;
    background-color: hsl(207, 100%, 98%);
}

.text2,.text4{
    margin-top: 80px;
    text-justify: auto;
    padding-left: 150px;
    width: 500px;
}

.grw,.use{
    margin-left: 300px;
}

.grw_img,.use_img{    
    width: 500px;
    
}

.flow_conv{
    display: flex;
    margin-top: 90px;
    margin-bottom: 90px;
}

.fwc{
margin-left: 200px;
}

.fwc_img{
    width: 500px;
}

.text3{
    margin-top: 80px;
    text-justify: auto;
    padding-left: 150px;
    width: 700px;
}

.rtb{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.bottom{
    display: flex;
    padding: 100px;
    padding-bottom: 200px;
    color: white;
    background-color: hsl(192, 100%, 9%);
    width: 100%;
    height: 100%;

}

.foot_img{
    margin-bottom: 20px;
}

.phone_and_email{
    display: grid;
}

.phone_icon{
    margin-bottom: 10px;
}

.dummy{
    width: 350px;
}



.phone,.mail{
    display: flex;
    color: white;
}

.bottom_text1{
    margin-left: 20px;
}

.social-icons{
    display: flex;
    margin-top: 150px;
    
}

.fb_icon{
    color: white;
   width: 30px;
   height: 30px;
}

.fb_icon:hover{
    cursor: pointer;
    color: blue;
}

.twit_icon{
    color: white;
    margin-left: 30px;
}

.twit_icon:hover{
    cursor: pointer;
    color: blue;
}

.inst_icon{
    color: white;
    margin-left: 30px;
}
.inst_icon:hover{
    cursor: pointer;
    color: blue;
}

.right_bottom{
    margin-left: 500px;
}

.news_h{
    margin-bottom: 20px;

}

.news_t{
    width: 300px;
    margin-bottom: 20px;
}

.sub_form{
    display: flex;
}

.mail_input{
    width: 300px;
    background-color: white;
    /* border: none; */
    border-radius: 5px;
}

.mail_input:hover{
    cursor: pointer;
}


.mail_submit{
    padding: 15px;
    width: 150px;
    color: white;
    border-radius: 5px;
    background-color: hsl(322, 100%, 66%);
    border: none;
    margin-left: 60px;
}

.mail_submit:hover{
    cursor: pointer;
    background-color: hsl(321, 100%, 78%);
}

@media (max-width: 500px) {

    body{
        
        display: grid;
        padding:60px;
       
          
    }

    .top{
        width: 100%;
    }

    .try{
        
        /* position: absolute; */
        left: 200px;
    }

    .text1{
        width: 400px;
        text-align: center;
        margin-top: 150px;
    }
    
    .hud_text{
        margin-top: 50px;
        margin-inline: auto;
        width: 300px;
    }

    .metrics{
        display:column;

    }

    .get_ready_btn{
    margin-top: 60px;
    background-color: hsl(322, 100%, 66%);
    color: white;
    padding: 10px;
    border-radius: 50px;
    width: 180px;
    border: none;
    box-shadow: 2px 3px 4px .5px grey;
}


.img1{

    width:200px;
    display:inline-block;
    align-items: center;
    /* margin-left: auto;
    margin-right: auto; */

    
}

    
}